.student {
  width: 80%;
  margin: auto;
}
.heading {
  margin-bottom: 0;
}
/*  */

.filter-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filter-button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.filter-dropdown select {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

.filter-dropdown::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
  pointer-events: none;
}

.filter-dropdown:hover select {
  border-color: #333;
}

.filter-dropdown:hover::before {
  border-top-color: #333;
}

/*  */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f7f7f7;
  font-weight: bold;
}

button {
  padding: 0.5rem;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.dialog h2 {
  margin-top: 0;
}

.dialog label {
  display: block;
  margin-bottom: 10px;
}

.dialog input {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.dialog-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.dialog-buttons button {
  margin-left: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #0077ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dialog-buttons button:hover {
  background-color: #0052cc;
}

.dialog-buttons button:active {
  background-color: #0747a6;
}

.dialog-buttons button:first-child {
  margin-left: 0;
}

.dialog-buttons button:last-child {
  background-color: #dc3545;
}

.dialog-buttons button:last-child:hover {
  background-color: #c82333;
}

.dialog-buttons button:last-child:active {
  background-color: #9f1c23;
}
